@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-palette-dark-green: #061F20;
  --color-palette-tan: #DDD8CA;
  --color-palette-light-green: #DAF1DE;
  --color-palette-medium-green: #8EB69B;
  --color-palette-border-green: #36573F
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "IBM Plex Sans", sans-serif;
}
