@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-palette-dark-green: #0B1818;
  --color-palette-tan: #DDD8CA;
  --color-palette-light-green: #DAF1DE;
  --color-palette-medium-green: #8EB69B;
  --color-palette-border-green: #36573F
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), "Roboto", sans-serif;
  font-weight: 300;
}

strong,
b {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}